header {
    position: fixed;
    top: 0px;
    right: 0px;
    left: 0px;
    z-index: 999;
    
    width: 100%;
    height: 9vh;
    min-height: 60px;

    background-color: #2ba4e3;
    transition: background-color 0.3s linear;

    border-bottom-color: black;
    border-bottom-width: 1px;
    border-bottom-style: solid;

    box-sizing: border-box;
    padding: 0% 18%;

    display: flex;
    flex-direction: row;
}

    header div {
        height: 100%;

        display: flex;
        flex-direction: row;
        align-items: center;
    }

    header div.site-intro {
        width: 40%;
        justify-content: flex-start;
        /*background-color: blanchedalmond;*/
    }

        header div.site-intro a {
            height: 100%;
        }

            header div.site-intro a img {
                max-height: 100%;
            }
        

    header div.site-nav {
        width: 60%;
        justify-content: flex-end;
        /*background-color:cadetblue;*/
    }

        header div.site-nav div {
            height: 100%;
            width: 100%;
        }

            header div.site-nav div ul {
                width: 100%;
                height: 100%;

                padding: 0;
                margin: 0;

                list-style-type: none;

                display: flex;
                flex-direction: row;
                justify-content: flex-end;
            }

            header div.site-nav div ul li {
                display: flex;
                justify-content: center;
                align-items: center;

                margin-left: 25px;
            }

                header div.site-nav div ul li a {
                    text-decoration: none;
                    color: white;
                    transition: color 0.3s linear;
                }

    header div.site-nav-mobile-burger {
        display: none;
        width: 60%;
        justify-content: flex-end;
        /*background-color: blue;*/
    }

        header div.site-nav-mobile-burger input.burger-container-state {
            display: none;
        }

        header div.site-nav-mobile-burger label.burger-container {
            /*background-color: white;*/
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

            header div.site-nav-mobile-burger label.burger-container span.lines {
                width: 22px;
                height: 2px;
                background-color: white;

                margin: 3px 0px;

                transition: transform 0.3s linear;
            }

            input.burger-container-state:checked + label.burger-container span.line1 {
                transform: translate(0px, 8px) rotate(45deg);
            }

            input.burger-container-state:checked + label.burger-container span.line2 {
                transform: scale(0.01, 1);
            }

            input.burger-container-state:checked + label.burger-container span.line3 {
                transform: translate(0px, -8px) rotate(-45deg);
            }

        header div.site-nav-mobile-burger div.site-nav-mobile-wrapper {
            display: none;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;

            background-color: #2ba4e3;

            position: fixed;
            top: 9vh;
            left: 0;
            right: 0;

            width: 0vw;
            height: 91vh;

            transform: scale(0.8) translate(0, 15vh);
            opacity: 0;

            transition: transform 0s linear, opacity 0s linear;
        }

        input.burger-container-state:checked ~ div.site-nav-mobile-wrapper {
            transform: scale(1);
            opacity: 1;
            width: 100vw;
            transition: transform 0.25s ease-out, opacity 0.25s ease-out;
        }

            header div.site-nav-mobile-burger div.site-nav-mobile-wrapper div {
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: center;

                padding-top: 15vh;
            }

                header div.site-nav-mobile-burger div.site-nav-mobile-wrapper div ul {
                    margin: 0;
                    padding: 0;
                    list-style-type: none;

                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                }

                    header div.site-nav-mobile-burger div.site-nav-mobile-wrapper div ul li {
                        margin-bottom: 5vh
                    }

                        header div.site-nav-mobile-burger div.site-nav-mobile-wrapper div ul li a {
                            text-decoration: none;
                            color: white;
                            font-size: 1.3rem;
                        }


@media screen and (max-width: 1200px) {
    header div.site-nav {
        display: none;
    }

    header div.site-nav-mobile-burger {
        display: flex;
    }

    header div.site-nav-mobile-burger div.site-nav-mobile-wrapper {
        display: flex;
    }

    header {
        padding: 0% 10%;
    }
}

@media screen and (max-width: 992px) {
    header {
        padding: 0% 5%;
    }
}

@media screen and (max-width: 768px) {}